table, th, td {
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.2);
}

th {
    text-align: left;
}

.calendar {
    float: right;
    width: 70%;
    /*width: 200px;*/
    background-color: #fff;
    border: 1px solid #e1e1df;
    margin-bottom: 35px;
    padding: 10px 20px; /*??*/
    height: 360px;
}
.day {
    /*font-size: 1.0em;*/
    height: 2.5em;
    padding: 5px;
    vertical-align: top;
    width: 14%;
}
.movie-of-month .movie-card {
    height: 360px;
    margin: 0;
    padding: 20px 20px 0 20px;
}

.red-day {
    background-color: #F1E3E3;
}

.month-nav {
    width: 100%
}
.prev-month-nav, .next-month-nav {
    font-size: 1.5em;
}
.prev-month-nav {
    float: left;
}
.next-month-nav {
    float: right;
}
.month-year {
    text-align: center;
    font-size: 2.0em;
    padding-bottom: 5px;
}
.today {
    font-weight: bolder;
    background-color: #CAE7EF;
}
.class-outside-month {
    color: gray;
    background-color: #f2f2f2;
}
.week {
    padding: 0 5px;
}
