/**
 * Styling for me-pages
*/

.sitetitle, p {
    /*font-family: 'Pragati+Narrow';*/
    /*font-family: 'Raleway', sans-serif;*/
}

blockquote {
    background: #f9f9f9;
    border-left: 10px solid #ccc;
    margin: 1.5em 10px;
    padding: 0.5em 10px;
    quotes: "\201C""\201D""\2018""\2019";
}
blockquote:before {
    color: #ccc;
    content: open-quote;
    font-size: 4em;
    line-height: 0.1em;
    margin-right: 0.25em;
    vertical-align: -0.4em;
}
blockquote p {
    display: inline;
}

.card {
  background: #fff;
  border-radius: 2px;
  display: block;
  padding: 10px;
  max-width: 700px;
}

.card-1 {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  transition: all 0.2s ease-in-out;
}

.card-1:hover {
  box-shadow: 0 10px 20px rgba(0,0,0,0.19), 0 6px 6px rgba(0,0,0,0.23);
}

.card-2 {
  box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}

.article1 img {
    float: left;
    margin: 0 1em 0 0;
}
.byline {
    overflow: auto;
}

/*
* Link colors
* link: 5C7BA1
* visited: 1755A1
* hoover: 9EB3D7
*/
a {
    text-decoration: none;
    color: #5C7BA1;
}
a:hover {
    color: #9EB3D7;
}
a:visited {
    color: #1755A1;
}

/*
 * Contact form
 */
.contactform {
    margin-top: 20px;
    background: #fff;
    border-radius: 2px;
    display: block;
    padding: 10px;
    max-width: 700px;
    box-shadow: 0 3px 6px rgba(0,0,0,0.16), 0 3px 6px rgba(0,0,0,0.23);
}
