
.users {
    border-collapse: collapse;
     width: 100%;
 }

.users th, .users td {
    border: 1px solid black;
    padding: 10px;
    text-align: left;
}
.users th {
    background-color: #E2F4F1;
}
.users tr:nth-child(even) {background-color: #f2f2f2}
