#flash,
#featured-1,
#featured-2,
#featured-3,
#main,
#sidebar,
#triptych-1,
#triptych-2,
#triptych-3,
#footer-col-1,
#footer-col-2,
#footer-col-3, 
#footer-col-4 {
    min-height: 88px;
    background-color: #ccc;
}

