# http://httpd.apache.org/docs/current/mod/core.html#errordocument
#ErrorDocument 404 /404.php
ErrorDocument 404 "This is a Anax 404. Document is not here."


#<IfModule mod_rewrite.c>
#  RewriteEngine on
#
#  # Must use RewriteBase on www.student.bth.se, Rewritebase for url /~mos/test is /~mos/test/
#  #RewriteBase /change/this/to/site/base/url/if/needed/
#
#  RewriteCond %{REQUEST_FILENAME} !-f
#  #RewriteCond %{REQUEST_FILENAME} !-d
#
#  RewriteRule (.*) index.php/$1 [NC,L]
#</IfModule>
